[submodule "vidmod-plugins-cvbs"]
	path = vidmod-plugins-cvbs
	url = git@github.com:vidmod/vidmod-plugins-cvbs.git
[submodule "vidmod-plugins-core"]
	path = vidmod-plugins-core
	url = git@github.com:vidmod/vidmod-plugins-core.git
[submodule "vidmod-plugins-dsp"]
	path = vidmod-plugins-dsp
	url = git@github.com:vidmod/vidmod-plugins-dsp.git
